
/*customization styles start */
html{
    scroll-behavior: smooth;
}
.logo{
    width: 100px;
  }
  .logo-text{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#745328;
  }
  .logo{
    position: relative;
    margin-top: 2.5rem;
  }
  .logo-text span{
    margin-top: 1rem;
    padding-right: 0.2rem;
   
  }
  .package-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .some-spacing{
display: flex;
justify-content: space-between;
  }
  
.message-box{
    border: 1px solid #5555;
    width: 100%;
    margin-bottom: 1rem;
    text-align: start;
}
.form-control:focus{
    box-shadow: none;
    border: 1px solid #d47c3c;
    outline: none;
}
.display-end{
    position: relative;
    width: 100%;
    left: 71%;
    padding-top:0.3rem;
}
 @media(max-width:500px){
    .logo-text span{
        margin-left:6rem;
    }
    .logo{
        position: absolute;
        left: 1rem;
    }
 } 